[submodule "leaderboard-backend"]
	path = leaderboard-backend
	url = git@github.com:RageCage64/leaderboard-backend.git
[submodule "leaderboard-site"]
	path = leaderboard-site
	url = git@github.com:leaderboardsgg/leaderboard-site.git
